:root {
  --primary-color: #0fa3b1;
  --secondary-color: #b5e2fa;
  --tertiary-color: #f9f7f3;

  --quaternary-color: #eddea4;
  --quinary-color: #f7a072;

  --nonary-color: #665544;
  --denary-color: #443322;

  --text-color-1: #212529;
  --text-color-2: #343a40;
  --text-color-3: #7c7c7c;

  --primary-text-font: "Montserrat", sans-serif;
  --secondary-text-font: "Nunito", sans-serif;
  --tertiary-text-font: "Charm", cursive;
  --quaternary-text-font: "Josefin Sans", sans-serif;
}

/* Use a value from 200 to 1000 */
/* <-- Normalizatioin Starts --> */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is */
  /* 1 rem = 10px; 10px/16px = 62.5% */ /*font-size: 16px;*/
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;

  font-family: var(--content-font-family);
  color: var(--text-color-3);
  /* background-color: var(--tertiary-color); */
  background-color: #000000;
}
/* <-- Normalizatioin Ends --> */

/* <-- General Btn Design Starts -->  */
